<launch>
	
	<group ns="rod/camera/ir">
		<node pkg="prosilica_camera" name="driver" type="prosilica_node">
			<remap from="camera" to="/rod/camera/ir" />
		</node>
	</group>


  <group ns="rod/camera/ir">
    <node pkg="image_proc" name="image_proc" type="image_proc"/>
  </group>
  
  <group ns="/">
	<node pkg="image_view" name="image_view" type="image_view">
		<remap from="image" to="/rod/camera/ir/image_mono" />
	</node>
  </group>

</launch>
